.container {
    text-align: center;
    min-height: 100vh;
    padding: 1.5rem 0.5rem;
    color: #fff;
}

.textCenter {
    text-align: center;
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    background-clip: text;
    background: radial-gradient(ellipse at left, #38a169, #4299e1, #9f7aea);
    -webkit-background-clip: text;
    color: transparent;
}

.subtitle {
    color: #718096;
    max-width: 24rem;
    margin-bottom: 1.25rem;
}

.flexContainer {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.motionDiv {
    margin-top: 2rem;
}

.text {
    font-style: italic;
    font-weight: 700;
    font-size: 1.5rem;
    color: #718096;
}